<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. Numpy
3. matplotlib

| Data Science Tools |
| --- |
| Jupyter Notebook | 
| Anaconda |
| R Studio |

<H3>Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>

- Add comments to code cells
- Create markdown cells
- Format content of markdown cells with heading styles

<h2>Author</h2>
Eduardo Duarte